//$primaryColor: #03A9F4;
//$secondaryColor: #bbdefb;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$primaryColor:#ffae00;
$secondaryColor: #992000;

.header{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: $primaryColor;

  &__title {
    color: white;
    font-family: Montserrat, sans-serif;
    border-bottom: solid 2px #fff;
    width: 300px;
    margin: 10px auto 0;
    padding-bottom: 10px;
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    list-style: none;
  }

  &__element {
    display: flex;
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      // border-color: $secondaryColor;
      box-shadow: inset 0px 0px 8px #fff; 
    }

    &:active {
      box-shadow: inset 0px 0px 10px 3px #fff;
    }

    transition: box-shadow 0.5s ease;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
  }
}