@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  /* text-align: center; */
}

body {
  /* background-color: rgb(255, 185, 45, 0.3); */
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Montserrat', sans-serif; 
}

@media (max-width: 460px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 360) {
  html {
    font-size: 12px;
  }
}


