.tasks-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 20px auto 0;
  row-gap: 20px;

  @media screen and (min-width: 765px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
